################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/N3ApiClient.Tests/bin
/N3ApiClient.Tests/obj
/packages
