<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IPixService"/>
				<binding name="BasicHttpBinding_IEmkService"/>
				<binding name="RmisHubServiceSoap"/>
			</basicHttpBinding>
			<customBinding>
				<binding name="Soap12_PixService">
					<textMessageEncoding messageVersion="Soap12"/>
					<httpTransport/>
				</binding>
				<binding name="Soap12_EmkService">
					<textMessageEncoding messageVersion="Soap12"/>
					<httpTransport/>
				</binding>
				<binding name="RmisHubServiceSoap12">
					<textMessageEncoding messageVersion="Soap12"/>
					<httpTransport/>
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://r26-rc.zdrav.netrika.ru/EMK5/PixService.svc"
			          binding="basicHttpBinding"
			          bindingConfiguration="BasicHttpBinding_IPixService"
			          contract="IPixService"
			          name="BasicHttpBinding_IPixService"/>
			<endpoint address=" http://r26-rc.zdrav.netrika.ru/EMK5/PixService.svc/soap12"
			          binding="customBinding"
			          bindingConfiguration="Soap12_PixService"
			          contract="IPixService"
			          name="Soap12_PixService"/>
			<endpoint address="http://r26-rc.zdrav.netrika.ru/EMK5/EMKService.svc"
			          binding="basicHttpBinding"
			          bindingConfiguration="BasicHttpBinding_IEmkService"
			          contract="IEmkService"
			          name="BasicHttpBinding_IEmkService"/>
			<endpoint address="http://r26-rc.zdrav.netrika.ru/EMK5/EMKService.svc/soap12"
			          binding="customBinding"
			          bindingConfiguration="Soap12_EmkService"
			          contract="IEmkService"
			          name="Soap12_EmkService"/>
			<endpoint address="http://localhost/SoapERService/RmisHubService.asmx?wsdl"
			          binding="basicHttpBinding"
			          bindingConfiguration="RmisHubServiceSoap"
			          contract="IHubService"
			          name="RmisHubServiceSoap"/>
			<endpoint address="http://localhost/SoapERService/RmisHubService.asmx?wsdl"
			          binding="customBinding"
			          bindingConfiguration="RmisHubServiceSoap12"
			          contract="IHubService"
			          name="RmisHubServiceSoap12"/>
		</client>
	</system.serviceModel>
</configuration>